{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "IncrementInteger": {
            "ignore": [
                "App\\Controller\\Root"
            ]
        },
        "OneZeroInteger": {
            "ignore": [
                "App\\Controller\\Root"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "App\\Controller\\Root"
            ]
        }
    },
    "logs": {
        "text": "infection-log.txt"
    }
}